body{
    background-color: gray;
}

main{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.container{
    text-align: center;
}
#value{
    font-size: 6rem;
    font-weight: bold;    
}